    h3 {font-weight:bold;margin:2px 0;}
    p { margin:4px; padding:2px; }
    #map {
		/*display:block;*/
		width: 950px;
		height: 464px;
	}

	#map {
		background-color: #08304a;
		position: absolute;
		/*float: left;*/
		top: 8%;
		height: 60%;
		width: 70%;
		/*z-index: 7;*/
	}
	.leaflet-map-pane {
    z-index: 2 !important;
}

.leaflet-google-layer {
    z-index: 1 !important;
}

	/*.leaflet-map-focus {
		width:1px;height:1px;border:0;background:transparent;outline:none;
	}*/

	/* ne semble pas utile */
	/*.leaflet-container leaflet-fade-anim{
		position: relative;
	}
	*/
    /*
	#parametresAffichage{
		position: absolute; 
		top: 1em; 
		overflow:hidden;
	}
*/
